# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# Debug log from npm
npm-debug.log

# Sessions
sessions

# App Data and State
data

app/main.js
app/main.js.map
dist
plugins
