extends layout

block content
  div.jumbotron
    h1 EchoHub - Hubber
      p Welcome to the Hubber
      p Your system is now configured. You should visit EchoHub to set up your system
      p
        a.btn.btn-primary.btn-lg(href='https://www.echohub.io', role='button') Go to EchoHub
